
certifi==2022.12.7
charset-normalizer==3.1.0
contourpy==1.0.7
cosine-annealing-warmup @ git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup@12d03c07553aedd3d9e9155e2b3e31ce8c64081a
customtkinter==5.1.2
cycler==0.11.0
darkdetect==0.8.0
fonttools==4.39.0
idna==3.4
imageio==2.26.0
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.1
matplotlib==3.7.1
networkx==3.0
numpy==1.24.1
opencv-python==4.7.0.68
opencv-python-headless==4.7.0.72
packaging==23.0
Pillow==9.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
PyYAML==6.0
qudida==0.0.4
requests==2.28.2
scikit-image==0.20.0
scikit-learn==1.2.2
six==1.16.0
threadpoolctl==3.1.0
tifffile==2023.2.28
torch==1.13.1
torchmetrics==0.11.4
torchvision==0.14.1
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==1.26.15
